<!DOCTYPE html>
<html ng-app="evInicial">
  <head>
    <title>Evaluacion Inicial</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/styles/importer.css">
    <script type="text/javascript" src="/jst.js"></script>
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/Angular Minified 1.5.js"></script>
    <script src="/js/Angular Route Minified.js"></script>
    <script src="/js/App.js"></script>
    <script src="/js/CuestionarioController.js"></script>
    <script src="/js/LayoutController.js"></script>
  </head>

  <body ng-view>
  </body>

</html>